<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>pi</title>
  </head>
  <body>
    <h1>Sensors</h1>
    <p><a href="http://172.20.10.9:8484/pi/sensors/temperature">Temperature</a></p>
    <p>Humidity</p>
    <br><br>
    <h1>Actuators</h1>
    <p>LED</p>
  </body>
</html>
