<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>pi</title>
  </head>
  <body>
    <h1>Sensors</h1>
    <h3><a href="http://172.20.10.9:8484/pi/sensors/temperature">Temperature</a></h3>
    <h3>Humidity</h3>
    <br><br>
    <h1>Actuators</h1>
    <h3>LED</h3>

  </body>
</html>
